<!DOCTYPE html>
<html>
<head>
    <title>Termos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/UIexp.css">
    <link rel="stylesheet" href="/stylesheets/calcule.css">
</head>
<body>

    <table style="margin: auto">
        <tr>
            <th>
                <div class="group">
                    <input id = "nomeItem" class = "textoEntrada" type="text" required>
                    <label class = "entrada">Item</label>
                </div>
            </th>
            <th>
                <div class="group">
                    <input id = "CNPJ" class = "textoEntrada" type="text" required>
                    <label class = "entrada">CNPJ</label>
                </div>
            </th>
            <th>
                <div class="group">
                    <input id = "data" class = "textoEntrada" type="text" required>
                    <label class = "entrada">Data</label>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="group">
                    <input id = "razaoSocial" class = "textoEntrada" type="text" required>
                    <label class = "entrada">Razão Social</label>
                </div>
            </th>
            <th>
                <div class="group">
                    <input id = "precoItem" class = "textoEntrada" type="number" step="0.01" min=0 required>
                    <label class = "entrada">Preço</label>
                </div>
            </th>
            <th>
                <button id = "adicionarItem" class="butao">Adicionar item</button>
            </th>
        </tr>
    </table>

    <div style="margin-top: 50px" >
        <div class='item'>
            <table id = "tabelaPrincipal" class = "tblData" border="1" cellpadding="2">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Preço Pesquisado</th>
                        <th>Utilizando</th>
                        <th>Deletar</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>

            </table>
        </div>
        <div class='item'>
            <label for="amount" style="padding-bottom: 20px">Cobertura de Preço:</label>
            <input readonly type="text" id="amount">
            <button id = "calcular" class="minibutao"> calcular</button>

            <div style = "width: 60%; margin: auto; margin-top: 15px "  id="slider-range"></div>

            <table id = "tabelaSecundaria" class = "tblData" style="width: 50%" cellpadding="2">
                <thead>
                    <tr>
                        <th>Medida</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Menor Preço</th>
                        <th id = "menorPreco">R$ 0.00</th>
                    </tr>
                    <tr>
                        <th>Preço Medio</th>
                        <th id = "precoMedio">R$ 0.00</th>
                    </tr>
                    <tr>
                        <th>Maior Preço</th>
                        <th id = "maiorPreco">R$ 0.00</th>
                    </tr>
                    <tr>
                        <th>Qtd. de Preços Pesquisados</th>
                        <th id = "qtdPrecos">0</th>
                    </tr>
                    <tr>
                        <th>Qtd. de Preços Utilizado</th>
                        <th id = "qtdUtilizada" >0</th>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>​

</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src = "/javascripts/calcule.js"></script>

</html>

