<!DOCTYPE html>
<html>
<head>
    <title>Termos</title>
    <link rel='stylesheet' href='/stylesheets/opcoes.css' />
</head>
<body>

<h2> Escolha seu preço de referência</h2>

<div class="hot-container">
    <p>
        <form >
            <button class="btn">Calcule seu Preço</button>
        </form>
        <form >
            <button class="btn">Tabela Oficial</button>
        </form>
    </p>

    <p>

        <form action="/medio" method="post">
            <button type = "submit" id = "aceitar" class="btn">Preço Médio Transacional</button>
        </form>
        <form action="/sair" method="post">
            <button class="btn btn-red">Sair</button>
        </form>
    </p>
</div>

</body>

</html>

