<!DOCTYPE html>
<html>
<head>
    <title>Termos</title>
</head>
<body>

    <button type = "submit" id = "aceitar"> Continuar </button>
    <button type = "submit" id = "aceitar"> Continuar </button>
    <button type = "submit" id = "aceitar"> Continuar </button>

</body>

</html>

