<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Termos</title>
    <link rel="stylesheet" href="/stylesheets/termos.css">
</head>
<body>

    <div id = "areaPrincipal">

        <form method="post" action="/paginaPrincipal">

            <h1>Termos Inape</h1>

            <div id = "termos">
                <p>
                    Lorem ipsum dolor sit amet, magna assentior mel at. Mel dicunt patrioque reprehendunt ad,
                    eos ea fierent consequuntur, pri impetus offendit adolescens an.
                    Dicta pertinax complectitur in pri.
                    Ne nec suas ullum omnium, in eum prima dictas antiopam, has utamur iuvaret delenit te.
                    In quo erat simul nemore. Ne eum cibo augue choro, in malorum alienum pro.

                    Cu pro unum veri, has veniam voluptatum complectitur te.
                    No usu debitis inciderint necessitatibus, ad nam scaevola comprehensam.
                    Nominavi comprehensam ut vis. Eum in percipitur interpretaris.

                    Ei nam fuisset invenire. Id mel probo movet adipisci.
                    Te laudem doctus usu, labitur discere referrentur in pro. Eos ex modo prima.
                    Ut noster quaeque voluptatum vis, has eu tota adhuc evertitur.

                    Nam eu eros falli quando. Ne movet nemore nam, ne vero malis vis.
                    Graeci verear nec et, ut qui solum putent nominavi.
                    Case aliquid ancillae ex nam, ubique iudicabit in pri, graece ocurreret eloquentiam nec no.

                    Has malis prodesset ex, pri labitur denique prodesset no, paulo aliquip suscipiantur te sit.
                    Duo illud vivendo salutandi an, facilisis philosophia pro et.
                    Quem intellegebat sea ne, ne duo quando definitiones.
                    Ut periculis evertitur mel, ad his scaevola disputationi.
                </p>
            </div>

            <div id = "check">
                Li e concordo com os termos
                <input type="checkbox" value="false" name="validar" required/>
            </div>

            <button type = "submit" id = "aceitar"> Continuar </button>

        </form>

    </div>

</body>

</html>

