<!DOCTYPE html>
<html>
<head>
    <title>Termos</title>
</head>
<body>

    <form method="post" action="/paginaPrincipal">

        <h1>sua conta so sera criada apos aceitar isso!</h1>

        <p> Todos os termos que voce quiser colocar aqui para o usuario aceitar!</p>

        <input type="checkbox" value="false" name="validar" required/>Li e concordo com os termos<br>

        <button type = "submit" id = "aceitar"> Continuar </button>
    </form>

</body>

</html>

