*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #e2e6eC;
    font-family: 'Titillium Web', sans-serif;
}

h2{
    text-align: center;
}

button {
    font-family: 'Quicksand';
    width: 200px;
    height: 100px;
    margin-top: 20px;
    font-size: 1.3rem;
    margin-left: 20px;
    background-color: Transparent;
    text-align: center;
    border: groove;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

#tbl{
    margin: auto;
}

#areaPrincipal {
    background: #FFFFFF;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
}

.material-icons, .icon-text {
    vertical-align: middle;
}